[Unit]
Description=CSound Service
After=multi-user.target alsa-restore.service

[Service]
ExecStart=/usr/bin/csound -odac -+rtaudio=alsa -b2048 -B2048 /etc/cave/sound/active
StandardOutput=journal+console
Nice=-15
IOSchedulingClass=best-effort
IOSchedulingPriority=0
CPUSchedulingPolicy=rr
CPUSchedulingPriority=90

[Install]
WantedBy=multi-user.target
